@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Spoqa Han Sans Neo";
  src: url("../fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Spoqa Han Sans Neo";
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 24px 16px;
  background: rgba(242, 233, 216, 1);
}

.container1 {
  width: 90%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.logo {
  width: 130px;
  height: auto;
}

#menu-toggle {
  display: none;
}

.hamburger {
  display: none;
}

.nav-group {
  max-width: 395px;
  height: 52px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-box {
  display: flex;
  gap: 30px;
}

.nav-btn {
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.btn-download {
  width: 140px;
  height: 52px;
  border-radius: 40px;
  border: none;
  padding: 15px 30px;
  gap: 10px;
  background: rgba(217, 118, 82, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 80px;
}

section {
  width: 100%;
  max-width: 1280px;
}

.section-hero-bg {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(242, 233, 216, 1);
}

.section-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 1280px;
  padding: 0 24px;
  margin-top: 100px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

h2 {
  display: flex;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
}

h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
}

.hero-h {
  display: flex;
  justify-content: flex-start;
  max-width: 734px;
  color: rgba(0, 0, 0, 1);
}

.hero-p {
  display: flex;
  justify-content: flex-start;
  max-width: 438px;
}

.box-cat {
  max-width: 415px;
  height: 798px;
  float: right;
}

@media (max-width: 768px) {
  .section0 {
    flex-direction: column;
    gap: 40px;
    padding-top: 50px;
  }

  .box-cat {
    width: 100%;
    height: auto;
  }

  .hero-h,
  .hero-p {
    width: 100%;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  gap: 110px;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 110px;
}

.noop-cat {
  max-width: 660px;
  min-width: 326px;
  object-fit: cover;
  aspect-ratio: 660/390;
  box-sizing: border-box;
  float: inline-start;
}

.first {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.first-h {
  max-width: 510px;
  min-width: 326px;
  text-align: center;
  color: #000;
}

.first-p {
  max-width: 510px;
  min-width: 326px;
  text-align: start;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

span {
  color: rgba(217, 118, 82, 1);
  text-align: center;
}

.second-p {
  max-width: 737px;
  text-align: center;
}

.img-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.img-box img {
  display: flex;
  max-width: 328px;
  flex: 1 1 260px;
  border-radius: 30px;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

.story {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 940px;
  gap: 30px;
}

.story-p {
  max-width: 737px;
  display: flex;
  justify-content: flex-start;
}

.btn-learn-more {
  width: 150px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background: rgba(217, 118, 82, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.section3 {
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  background: rgba(38, 49, 64, 1);
  padding: 50px 60px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.newsletter {
  max-width: 490px;
}

.newsletter-h {
  display: flex;
  justify-content: flex-start;
  color: #fff;
}

.newsletter-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 0;
  color: #fff;
}

.input-container {
  max-width: 530px;
  min-width: 400px;
  height: 60px;
  border-radius: 60px;
  background-color: #fff;
  padding: 0 5px;
}

.input-wrap {
  position: relative;
  padding-left: 58px;
}

.input-wrap::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../images/mail.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-submit {
  width: 138px;
  height: 50px;
  border-radius: 40px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: rgba(217, 118, 82, 1);
  border: none;
  font-size: 16px;
  font-weight: 700;
}

input {
  display: flex;
  max-width: 192px;
  height: 22px;
  border: none;
}

dialog {
  border: none;
  border-radius: 30px;
}

.btn-scroll-top {
  position: fixed;
  bottom: 130px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/top-btn.svg);
  border: solid 3px rgba(196, 196, 196, 1);
  background-color: #fff;
  background-size: cover;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.scroll-area:hover .btn-scroll-top {
  opacity: 1;
  pointer-events: auto;
}

.btn-scroll-top:hover {
  position: fixed;
  bottom: 130px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/keyboard_arrow_up.svg);
  border: solid 3px rgba(196, 196, 196, 1);
  background-color: #fff;
  background-size: cover;
  cursor: pointer;
}

.scroll-area {
  position: fixed;
  bottom: 90px;
  right: 0;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo-big {
  width: 226px;
  height: 70px;
}

.sns-icons {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.blog-box,
.instagram-box,
.facebook-box,
.youtube-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(217, 118, 82, 1);
}

.bg-img {
  width: 100%;
  height: 340px;
  background: linear-gradient(
      rgba(242, 233, 216, 0.5),
      rgba(242, 233, 216, 0.5)
    ),
    url(../images/img_5.jpg) no-repeat center / cover;
  margin-top: -150px;
  z-index: -1;
}

.modal {
  max-width: 600px;
  min-width: 300px;
  border-radius: 30px;
  position: absolute;
  background-image: url(../images/modal-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none; /*on:flex, off:none */
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.thanks-card {
  max-width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.thanks-card img {
  max-width: 110px;
  min-width: 60;
  height: 112px;
  min-height: 62;
  object-fit: cover;
  aspect-ratio: 60/62;
  top: 60px;
  margin-bottom: 24px;
}

.thanks-card h3 {
  margin-bottom: 24px;
}

.modal-p {
  display: flex;
  max-width: 420px;
  min-width: 199px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 0;
  color: #000;
  text-align: center;
  margin-bottom: 34px;
}

.btn-ok {
  width: 190px;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 40px;
  background-color: #d97652;
  color: #fff;
  bottom: 30px;
}

@media (max-width: 768px) {
  .img-box {
    flex-direction: column;
    align-items: center;
  }
  .img-box img {
    width: 90%;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-hero {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
  }

  h2,
  h3,
  p,
  section {
    width: 90%;
  }

  .section3 {
    width: 80%;
    border-radius: 18px;
    padding: 36px 32px 30px;
    margin: 10%;
  }

  .input-container {
    width: 90%;
    display: block;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    font-size: 32px;
    line-height: 42px;
  }

  h3 {
    font-size: 24px;
    line-height: 34px;
  }

  p {
    font-size: 15px;
  }

  .btn-learn-more {
    justify-content: end;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: 36px;
    cursor: pointer;
    right: 100px;
    top: 50px;
    transform: translate(-50);
  }

  .nav-group {
    position: fixed;
    top: 24px;
    right: -289px;
    width: 289px;
    height: 820px;
    background-color: #fff;
    background-image: url(../images/menu-tab.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: none; /*on:flex, off:none */
    justify-content: right;
    align-items: center;
  }

  #menu-toggle:checked ~ .nav-group {
    right: 0;
  }
}
