body {
  width: 1920px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 24px 320px;
  background: rgba(242, 233, 216, 1);
}

.container1 {
  width: 1280px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 130px;
  height: 40px;
  top: 30px;
  left: 320px;
}

.nav-group {
  width: 395px;
  height: 52px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-box {
  display: flex;
  gap: 30px;
}

.nav-btn {
  color: #000;
  text-decoration: none;
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.btn-download {
  width: 140px;
  height: 52px;
  border-radius: 40px;
  border: none;
  padding: 15px 30px;
  gap: 10px;
  background: rgba(217, 118, 82, 1);
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 320px;
  gap: 80px;
}

.section0 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(242, 233, 216, 1);
  padding: 0 320px;
  margin-top: 100px;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

h2 {
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
}

h3 {
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
}

p {
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0;
}

.hero-h {
  display: flex;
  justify-content: flex-start;
  width: 734px;
  color: rgba(0, 0, 0, 1);
}

.hero-p {
  display: flex;
  justify-content: flex-start;
  width: 438px;
}

.box-cat {
  width: 415px;
  height: 798px;
  float: right;
}

.section-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: 1564px;
  gap: 110px;
}

.section1 {
  width: 1280px;
  height: 390px;
  display: flex;
  justify-content: space-between;
  gap: 110px;
}

.noop-cat {
  width: 660px;
  height: 390px;
  box-sizing: border-box;
  float: inline-start;
}

.first {
  width: 510px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.first-h {
  width: 510px;
  text-align: center;
  color: #000;
}

.first-p {
  width: 510px;
  text-align: start;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

span {
  color: rgba(217, 118, 82, 1);
  text-align: center;
}

.second-p {
  width: 737px;
  text-align: center;
}

.img-box {
  display: flex;
  width: 1280px;
  gap: auto;
  justify-content: space-between;
}

.img-box img {
  width: 378px;
  height: 378px;
  border-radius: 30px;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.25);
}

.story {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.story-p {
  width: 737px;
  display: flex;
  justify-content: flex-start;
}

.btn-learn-more {
  width: 150px;
  height: 50px;
  border-radius: 40px;
  border: none;
  background: rgba(217, 118, 82, 1);
  color: #fff;
}

.section3 {
  border-radius: 30px;
  display: flex;
  background: rgba(38, 49, 64, 1);
  padding: 50px 60px;
  justify-content: space-between;
  align-items: center;
}

.newsletter {
  width: 490px;
}

.newsletter-h {
  display: flex;
  justify-content: flex-start;
  color: #fff;
}

.newsletter-p {
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 0;
  color: #fff;
}

.input-container {
  width: 530px;
  height: 60px;
  border-radius: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
}

.input-wrap {
  position: relative;
  padding-left: 58px;
}

.input-wrap::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../images/mail.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-enter {
  width: 138px;
  height: 50px;
  border-radius: 40px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: rgba(217, 118, 82, 1);
  border: none;
}

input {
  width: 192px;
  height: 22px;
  border: none;
}

.btn-scroll-top {
  position: fixed;
  bottom: 124px;
  right: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/top-btn.svg);
  border: solid 3px rgba(196, 196, 196, 1);
  background-color: #fff;
  background-size: cover;
  cursor: pointer;
}

.btn-scroll-top:hover {
  position: fixed;
  bottom: 124px;
  right: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../images/keyboard_arrow_up.svg);
  border: solid 3px rgba(196, 196, 196, 1);
  background-color: #fff;
  background-size: cover;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 0 320px;
}

.logo-big {
  width: 226px;
  height: 70px;
}

.sns-icons {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sns-icons img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.blog-box,
.instagram-box,
.facebook-box,
.youtube-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(242, 157, 82, 1);
}

.bg-img {
  width: 100%;
  height: 340px;
  background: linear-gradient(
      rgba(242, 233, 216, 0.5),
      rgba(242, 233, 216, 0.5)
    ),
    url(../images/img_5.jpg) no-repeat center / cover;
  margin-top: -150px;
  z-index: -1;
}

.modal {
  width: 600px;
  height: 400px;
  border-radius: 30px;
  position: absolute;
  background-image: url(../images/modal-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none; /*on:flex, off:none */
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.thanks-card {
  width: 382px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.thanks-card img {
  width: 110px;
  height: 112px;
  top: 60px;
  margin-bottom: 24px;
}

.thanks-card h3 {
  margin-bottom: 10px;
}

.modal-p {
  width: 420px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 0;
  color: #000;
  text-align: center;
  margin-bottom: 34px;
}

.btn-ok {
  width: 190px;
  height: 52px;
  font-family: Spoqa Han Sans Neo;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 40px;
  background-color: #d97652;
  color: #fff;
  bottom: 30px;
}
